.comment-respond,
.entry-comments,
.entry-pings {
	background-color: $comments-background-color;
	margin-bottom: 40px;
}

.comment-respond,
.entry-pings {
	padding: 40px 40px 16px;
}

.entry-comments {
	padding: 40px;

	.comment-author {
		margin-bottom: 0;
	}
}

.comment-header {
	font-size: $secondary-font-size;
}

.comment {
	background-color: $comment-background-color;
	border: 2px solid $comment-border-color;
	border-right: 0;
}

.comment-content {
	clear: both;

	p,
	> ol,
	> ul,
	> dl {
		margin-bottom: 26px;
	}

	ol,
	ul {
		margin-left: 40px;
	}

	li {
		margin-bottom: 2%;
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	li ol,
	li ul {
		margin-top: 2%;
	}

	blockquote {
		border-left: 7px solid $blockquote-border-color;
		margin: 30px 0 30px 5%;
		padding: 0 5%;
	}

	table {
		border-collapse: separate;
		border: 1px solid $table-border-color;
		border-left: 0;
		margin: 20px 0;
		width: 100%;
	}

	table th,
	table td {
		border-left: 1px solid $table-border-color;
		border-top: 1px solid $table-border-color;
		line-height: 1.2;
		padding: 8px;
		text-align: left;
		vertical-align: top;
	}

	table thead:first-child tr:first-child th,
	table tbody:first-child tr:first-child th,
	table tbody:first-child tr:first-child td {
		border-top: 0 none;
	}

	code {
		background: $code-background-color;
		border: 1px solid $code-border-color;
		color: $code-font-color;
		padding: 2px 4px;
	}
}

.comment-list {

	.comment {
		margin-top: 24px;
		padding: 32px;

		.comment {
			margin-right: -32px;
		}
	}
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-pings .reply {
	display: none;
}

.form-allowed-tags {
	background-color: $allowed-tags-background-color;
	font-size: $secondary-font-size;
	padding: 24px;
}
