.nav-menu {
	clear: both;
	font-size: .001px;
	line-height: 1;
	width: 100%;

	.menu-item {
		display: inline-block;
		font-size: $nav-font-size;
		text-align: left;
	}

	li > a {
		color: $nav-link-color;
		display: block;
		padding: 25px 15px;

		@include media($large-screen-up) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	li a:hover,
	li a:focus,
	.current-menu-item > a,
	.current-menu-ancestor > a,
	.current-menu-parent > a,
	.sub-menu .current-menu-item > a:hover
	.sub-menu .current-menu-item > a:focus {
		color: $nav-link-hover-color;
	}

	.sub-menu {
		left: -9999px;
		opacity: 0;
		position: absolute;
		width: 200px;
		z-index: $sub-menu-z-index;

		a {
			background-color: $nav-background-color;
			border: 1px solid $nav-border-color;
			border-top: 0;
			color: $nav-link-color;
			font-size: $subnav-font-size;
			padding: 20px;
			position: relative;
			width: 200px;
		}

		.sub-menu {
			margin: -55px 0 0 199px;
		}
	}

	.menu-item:hover,
	.menu-item-hover,
	.menu-item:focus {
		position: static;
	}

	.menu-item:hover > .sub-menu,
	.menu-item-hover > .sub-menu,
	.menu-item:focus > .sub-menu {
		left: auto;
		opacity: 1;
	}

	> .menu-item > a {
		text-transform: uppercase;
	}

	> .first > a {
		padding-left: 0;
	}

	> .last > a {
		padding-right: 0;
	}

	> .right {
		color: $nav-link-color;
		float: right;
		list-style-type: none;

		> a {
			display: inline;
			padding: 0;
		}
	}

	> .rss > a {
		margin-left: 48px;
	}

	> .search {
		padding: 10px 0 0;
	}
}

/* Header Navigation
--------------------------------------------- */

.menu-header {
	display: none;

	@include media($medium-screen-up) {
		display: block;
	}

	li > a {
		color: $menu-header-color;
		padding: 33px 15px;

		@include media($large-screen-up) {
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.sub-menu {
		border-top: 1px solid $menu-header-border-color;

		.sub-menu {
			margin-top: -56px;
		}

		li {
			margin-left: 0;
		}
	}
}

.no-menu {
	font-size: 18px;
	margin: 0;
	padding: 12px 0;

	.button {
		margin-left: 20px;
	}
}


/* After Header Navigation
--------------------------------------------- */

.menu-after-header {
	background-color: $after-header-background-color;
	border-bottom: 1px solid $after-header-border-color;
	display: none;

	@include media($medium-screen-up) {
		display: block;
	}

	li > a {
		color: $after-header-link-color;
	}

	li > a:hover,
	li > a:focus,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover,
	.sub-menu .current-menu-item > a:focus {
		color: $after-header-link-hover-color;
	}
}

/* Responsive Menu
--------------------------------------------- */

.menu-button {
	display: block;
	float: right;
	margin: 1rem 0 0;
	padding: 8px 12px 10px;
	color: $menu-button-link-color;
	background: $menu-button-background-color;
	border-radius: $base-border-radius;
	@include transition (all .2s ease-in-out);
	cursor: pointer;

	@include media($medium-screen-up) {
		display: none;
	}

	&:hover {
		background: lighten($menu-button-background-color, 5%);
	}

	&::before {
		font-size: 26px;
	}
}

.sidr {
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: $sidr-z-index;
	width: 260px;
	overflow-x: hidden;
	overflow-y: auto;
	background: $sidr-background-color;

	&.right {
		/* @noflip */
		left: auto;
		/* @noflip */
		right: -260px;
	}

	&.left {
		/* @noflip */
		left: -260px;
		/* @noflip */
		right: auto;
	}

	.nav-menu {
		.menu-item {
			display: block;
		}

		li a {
			color: $sidr-color;
			padding: $sidr-item-padding;
			border-bottom: 1px solid $sidr-border-color;

			&:hover {
				color: $sidr-hover-color;
				background: lighten($sidr-background-color, 3);
			}
		}
	}

	.sub-menu {
		position: static;
		width: 100%;
		margin: 0;
		background: transparent;
		border-top: 0;
		opacity: 1;
		box-shadow: none;

		li a {
			width: auto;
			padding: $sidr-item-padding;
			padding-left: $sidr-item-padding + 10px;
			color: $sidr-subnav-color;
			background: $sidr-background-color;
			border-bottom: 1px solid $sidr-border-color;
			border-top: 0;
			border-left: 0;
			border-right: 0;
		}

		.sub-menu {
			margin: 0;

			li a {
				padding-left: $sidr-item-padding + 20px;
			}
		}
	}
}


/* Pagination
--------------------------------------------- */

.pagination {
	margin-bottom: 20px;
	text-align: center;
	display: block;

	.page-numbers {
		@include transition (all .2s ease-in-out);
		background: $pagination-background-color;
		border: 1px solid $pagination-border-color;
		border-radius: $base-border-radius;
		display: inline-block;
		margin-bottom: 10px;
		padding: 10px 20px;
	}

	.current {
		background: $pagination-current-background-color;
	}

	.next:before {
		content: '\2192';
	}

	.prev:before {
		content: '\2190';
	}

	a {
		color: $pagination-link-color;

		&:hover,
		&:focus {
			background: $pagination-background-hover-color;
			border: 1px solid $pagination-border-hover-color;
		}
	}
}

.rtl {
	.pagination .next:before {
		content: '\2190';
	}

	.pagination .prev:before {
		content: '\2192';
	}
}

/* Single Entry Pagination
--------------------------------------------- */

.nav-single {
	display: block;
	clear: both;
	overflow: hidden;
	margin-bottom: 30px;
	padding: 0;
	font-size: $pagination-font-size;
	text-transform: uppercase;
	letter-spacing: 1px;

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}

	.nav-next a,
	.nav-previous a {
		background: $nav-single-background-color;
		border-radius: $base-border-radius;
		border: 1px solid $nav-single-border-color;
		color: $nav-single-link-color;
		display: inline-block;
		padding: 16px 20px 14px;
	}

	.nav-next a:hover,
	.nav-previous a:hover,
	.nav-next a:focus,
	.nav-previous a:focus {
		background: $nav-single-background-hover-color;
		color: $nav-single-link-color;
	}
}

/* Page Links
--------------------------------------------- */

.page-links {
	margin: 30px 0;
	display: block;

	span,
	a {
		@include transition (all .2s ease-in-out);
		border-radius: $base-border-radius;
		display: inline-block;
		padding: 5px 15px;
		border: 1px solid $page-links-border-color;
		color: $page-links-link-color;
	}

	span {
		background: $page-links-current-background-color;
	}

	a {
		background: $page-links-background-color;

		&:hover,
		&:focus {
			background: $page-links-background-hover-color;
			color: $page-links-link-color;
		}
	}
}
