.header {
	background-color: $base-header-background-color;
	color: $base-header-color;

	.wrap {
		padding: 20px 0;
	}
}

.skip-link .screen-reader-text:focus {
	z-index: 100;
	top: 34px;
	width: 200px;
	padding: 10px 0;
	text-align: center;
}

.ltr .skip-link .screen-reader-text:focus {
	left: 50%;
	margin-left: -100px;
}

.rtl .skip-link .screen-reader-text:focus {
	right: 50%;
	margin-right: -100px;
}

/* Title Area
--------------------------------------------- */

.branding {
	float: left;
	padding: 10px 0;
	@include span-columns(3);
}

.header-full-width {
	.branding {
		width: 100%;
	}
}

.site-title {
	font-family: $header-font-family;
	font-size: $site-title-font-size;
	font-weight: 600;
	line-height: 1.2;
	text-rendering: optimizeLegibility;

	a,
	a:hover,
	a:focus {
		color: $base-header-link-color;
	}
}

.site-description {
	color: $base-header-color;
	font-family: $header-font-family;
	font-size: $secondary-font-size;
	font-weight: 300;
	line-height: 1.5;
}

.site-description,
.site-title {
	margin-bottom: 0;
}

/* Header Right
--------------------------------------------- */

.header-right {
	float: right;
	text-align: right;
	@include span-columns(9);
}
