.nav-menu {
	$nav-background-color: $base-nav-background-color;
	$nav-border-color: $base-border-color;
	$nav-border: 1px solid $nav-border-color;
	$nav-color: $base-nav-color;
	$nav-hover-color: $base-link-color;
	$nav-font-size: $secondary-font-size;
	$subnav-font-size: $secondary-font-size - 2;
	clear: both;
	font-size: $nav-font-size;
	line-height: 1;
	width: 100%;


	.menu-item {
		display: inline-block;
		text-align: left;
	}

	li a {
		color: $nav-color;
		display: block;
		padding: 25px 20px;
	}

	li a:hover,
	li a:focus,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover
	.sub-menu .current-menu-item > a:focus {
		color: $nav-hover-color;
	}

	.sub-menu {
		left: -9999px;
		opacity: 0;
		position: absolute;
		transition: opacity .4s ease-in-out;
		width: 200px;
		z-index: 99;

		a {
			background-color: $nav-background-color;
			border: $nav-border;
			border-top: 0;
			color: $nav-color;
			font-size: $subnav-font-size;
			padding: 20px;
			position: relative;
			width: 200px;
		}

		.sub-menu {
			margin: -55px 0 0 199px;
		}
	}

	.menu-item:hover,
	.menu-item-hover,
	.menu-item:focus {
		position: static;
	}

	.menu-item:hover > .sub-menu,
	.menu-item-hover > .sub-menu,
	.menu-item:focus > .sub-menu {
		left: auto;
		opacity: 1;
	}

	> .menu-item > a {
		text-transform: uppercase;
	}

	> .first > a {
		padding-left: 0;
	}

	> .last > a {
		padding-right: 0;
	}

	> .right {
		color: $nav-color;
		float: right;
		list-style-type: none;
	}

	> .right > a {
		display: inline;
		padding: 0;
	}

	> .rss > a {
		margin-left: 48px;
	}

	> .search {
		padding: 10px 0 0;
	}
}

/* Header Navigation
--------------------------------------------- */

.menu-header {
	$menu-header-border-color: $base-border-color;
	$menu-header-border: 1px solid $menu-header-border-color;
	$menu-header-color: $base-nav-color;
	$menu-header-hover-color: $base-link-color;

	li a {
		color: $menu-header-color;
		padding: 33px 20px;
	}

	.sub-menu {
		border-top: $menu-header-border;

		.sub-menu {
			margin-top: -56px;
		}

		li {
			margin-left: 0;
		}
	}

}

.no-menu {
	font-size: 18px;
	margin: 0;
	padding: 12px 0;

	.button {
		margin-left: 20px;
	}
}


/* After Header Navigation
--------------------------------------------- */

.menu-after-header {
	$after-header-background-color: $base-nav-background-color;
	$after-header-border-color: $base-border-color;
	$after-header-border: 1px solid $after-header-border-color;
	$after-header-color: lighten($base-nav-color, 10);
	$after-header-hover-color: $base-link-color;
	background-color: $after-header-background-color;
	border-bottom: 1px solid $base-border-color;

	li a {
		color: $after-header-color;
	}

	li a:hover,
	li a:focus,
	.current-menu-item > a,
	.sub-menu .current-menu-item > a:hover,
	.sub-menu .current-menu-item > a:focus {
		color: $after-header-hover-color;
	}
}

/* Responsive Menu
--------------------------------------------- */

.menu-button {
	display: none;
	float: right;
	margin: 1rem 0 0;
	padding: 8px 12px 10px;
	color: rgba(255,255,255,.95);
	background: $seafoam;
	border-radius: $base-border-radius;
	@include transition (all .2s ease-in-out);
	cursor: pointer;

	&:hover {
		background: lighten($seafoam,5%);
	}

	&::before {
		font-size: 26px;
	}
}

.sidr {
	$sidr-background-color: lighten($off-black, 3);
	$sidr-border: 1px solid rgba(255,255,255,0.1);
	$sidr-color: lighten($base-nav-color, 10);
	$sidr-hover-color: $base-link-color;
	$sidr-item-padding: 20px;
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	width: 260px;
	overflow-x: none;
	overflow-y: auto;
	background: $sidr-background-color;

	&.right {
		/* @noflip */
		left: auto;
		/* @noflip */
		right: -260px;
	}

	&.left {
		/* @noflip */
		left: -260px;
		/* @noflip */
		right: auto;
	}

	.nav-menu {
		.menu-item {
			display: block;
		}

		li a {
			color: $sidr-color;
			padding: $sidr-item-padding;
			border-bottom: $sidr-border;

			&:hover {
				color: $sidr-hover-color;
				background: lighten($sidr-background-color, 3);
			}
		}
	}

	.sub-menu {
		position: static;
		width: 100%;
		margin: 0;
		background: transparent;
		border-top: 0;
		opacity: 1;
		box-shadow: none;

		li a {
			width: auto;
			padding: $sidr-item-padding;
			padding-left: $sidr-item-padding + 10px;
			color: $base-nav-color;
			background: $sidr-background-color;
			border-bottom: $sidr-border;
			border-top: 0;
			border-left: 0;
			border-right: 0;
		}

		.sub-menu {
			margin: 0;

			li a {
				padding-left: $sidr-item-padding + 20px;;
			}
		}
	}

}

/* Pagination
--------------------------------------------- */

.pagination {
	$pagination-border-color: $base-border-color;
	$pagination-border: 1px solid $pagination-border-color;
	$pagination-background: lighten($pagination-border-color, 10);
	$pagination-hover-background: lighten($pagination-background, 5);
	$pagination-color: $base-font-color;
	margin-bottom: 30px;
	text-align: center;
	display: block;

	.page-numbers {
		@include transition (all .2s ease-in-out);
		border-radius: $base-border-radius;
		display: inline-block;
		padding: 10px 20px;
	}

	.next,
	.prev,
	.current {
		background: $pagination-background;
		border: $pagination-border;
		color: $pagination-color;
	}

	.next:before {
		content: '\2192';
	}

	.prev:before {
		content: '\2190';
	}

	a {
		color: $pagination-color;
		border: 1px solid $base-background-color;

		&:hover,
		&:focus {
			background: $pagination-hover-background;
			border: $pagination-border;
		}
	}
}

.rtl {
	.pagination .next:before {
		content: '\2190';
	}

	.pagination .prev:before {
		content: '\2192';
	}
}

/* Single Entry Pagination
--------------------------------------------- */

.nav-single {
	$nav-single-border-color: $base-border-color;
	$nav-single-border: 1px solid $nav-single-border-color;
	$nav-single-background: lighten($nav-single-border-color, 10);
	$nav-single-hover-background: lighten($nav-single-background, 5);
	$nav-single-color: $base-font-color;
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0 0 40px;
	font-size: $secondary-font-size;
	text-transform: uppercase;
	letter-spacing: 1px;

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}

	.nav-next a,
	.nav-previous a {
		background: $nav-single-background;
		border-radius: $base-border-radius;
		border: $nav-single-border;
		color: $nav-single-color;
		display: inline-block;
		padding: 16px 20px 14px;
	}

	.nav-next a:hover,
	.nav-previous a:hover,
	.nav-next a:focus,
	.nav-previous a:focus {
		background: $nav-single-hover-background;
		color: $nav-single-color;
	}
}

/* Page Links
--------------------------------------------- */

.page-links {
	$pagination-border-color: $base-border-color;
	$pagination-border: 1px solid $pagination-border-color;
	$pagination-background: lighten($pagination-border-color, 10);
	$pagination-hover-background: lighten($pagination-background, 5);
	$pagination-color: $base-font-color;
	margin: 30px 0;
	display: block;

	span,
	a {
		@include transition (all .2s ease-in-out);
		border-radius: $base-border-radius;
		display: inline-block;
		padding: 10px 20px;
		background: $pagination-background;
		border: $pagination-border;
		color: $pagination-color;
	}

	a {
		&:hover,
		&:focus {
			background: $pagination-hover-background;
			color: $base-link-color;
		}
	}
}
