// Screen sizes
$smallest-screen:  320px;
$smaller-screen:   480px;
$small-screen:     810px;
$medium-screen:    1023px;
$large-screen:     1180px;

// Breakpoints
$smallest-screen-up:  new-breakpoint(min-width $smallest-screen  4);
$smaller-screen-up:   new-breakpoint(min-width $smaller-screen   6);
$small-screen-up:     new-breakpoint(min-width $small-screen    12);
$medium-screen-up:    new-breakpoint(min-width $medium-screen   12);
$large-screen-up:     new-breakpoint(min-width $large-screen    12);

$sidr-item-padding:   20px;
$corner-ribbon-size:  85px;
