
// Adding a Visual Grid while you develop. Set to 'true.'
$visual-grid:         false;
$visual-grid-color:   #33b787;
$visual-grid-index:   back;
$visual-grid-opacity: .1;
$border-box-sizing:   false;

// Define the max width of your main grid container.
$max-width: 1140px;
